.DS_store
/eclipse-workspace/Labs/src/week03/.classpath
/eclipse-workspace/Labs/src/week03/.gitignore
.gitignore
.classpath
.project
/week_1/week01-mentor-01-video.txt
week_3/Week3v16PDF.pdf
/week_4/Open\ Class\ Lesson\ -\ Java\ 4\ -\ Lists\ Part\ 1.pdf
week_4/Open Class Lesson - Java Week 4 - Lists Part 1.pdf
week_5/Java 5_ Weekly Curriculum & Videos.pdf