.DS_store
/eclipse-workspace/Labs/src/week03/.classpath
/eclipse-workspace/Labs/src/week03/.gitignore
.gitignore
/week_1/week01-mentor-01-video.txt
/week_4/Open\ Class\ Lesson\ -\ Java\ 4\ -\ Lists\ Part\ 1.pdf